<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangcode.Mapper.GoodsMapper">

    <resultMap id="goodMap" type="com.kangcode.pojo.Good">
        <id property="id" column="id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="typeId" column="type_id"/>
        <result property="buyPrice" column="buy_price"/>
        <result property="sellPrice" column="sell_price"/>
        <result property="stockNum" column="stock_num"/>
        <result property="imageUrl" column="image_url"/>
        <result property="remark" column="remark"/>
        <result property="minStock" column="min_stock"/>
        <result property="typeName" column="type_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="goodColumns">
        g.id,
        g.goods_name,
        g.type_id,
        g.buy_price,
        g.sell_price,
        g.stock_num,
        g.image_url,
        g.remark,
        g.min_stock,
        g.create_time,
        g.update_time
    </sql>

    <select id="listAll" resultMap="goodMap">
        select <include refid="goodColumns"/>, t.type_name
        from goods g
        left join goods_type t on g.type_id = t.id
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into goods
        (
        goods_name,
        type_id,
        buy_price,
        sell_price,
        stock_num
        <if test="imageUrl != null and imageUrl != ''">, image_url</if>
        <if test="remark != null and remark != ''">, remark</if>
        <if test="minStock != null">, min_stock</if>
        , create_time
        , update_time
        )
        values
        (
        #{goodsName},
        #{typeId},
        #{buyPrice},
        #{sellPrice},
        #{stockNum}
        <if test="imageUrl != null and imageUrl != ''">, #{imageUrl}</if>
        <if test="remark != null and remark != ''">, #{remark}</if>
        <if test="minStock != null">, #{minStock}</if>
        , now()
        , now()
        )
    </insert>
    <update id="update">
        update goods
        <set>
            goods_name = #{goodsName},
            type_id = #{typeId},
            buy_price = #{buyPrice},
            sell_price = #{sellPrice},
            stock_num = #{stockNum},
            image_url = #{imageUrl},
            remark = #{remark},
            <if test="minStock != null">
                min_stock = #{minStock},
            </if>
            update_time = now()
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from goods where id in
        <foreach item="id" collection="ids" separator="," close=")" open="(">
            #{id}
        </foreach>

    </delete>
    <select id="getById" resultMap="goodMap">
        select <include refid="goodColumns"/>, t.type_name
        from goods g
        left join goods_type t on g.type_id = t.id
        where g.id = #{id}
    </select>
    <select id="list" resultMap="goodMap">
        select <include refid="goodColumns"/>, t.type_name
        from goods g
        left join goods_type t on g.type_id = t.id
        <where>
            <if test="goodsName != null and goodsName != ''">
                and g.goods_name like concat('%',#{goodsName},'%')
            </if>
            <if test="typeId != null and typeId != ''">
                and g.type_id = #{typeId}
            </if>
        </where>
    </select>
    <select id="getLowStock" resultMap="goodMap">
        select <include refid="goodColumns"/>, t.type_name
        from goods g
        left join goods_type t on g.type_id = t.id
        where g.stock_num &lt; IFNULL(g.min_stock, 10)
    </select>

</mapper>
